<section class="w-full flex flex-col gap-8 py-8 card">
  <h2 class="text-2xl uppercase font-bold">
    {{ _rendaFixaItem.id ? 'Editar' : 'Criar' }}
    <span class="color-primary text-2xl">Renda Fixa</span>
  </h2>

  <form [formGroup]="formRendaFixa" class="flex flex-col gap-8">
    <div class="form-group w-full">
      <label for="descricao">Descrição</label>
      <input type="text" formControlName="descricao" name="descricao">
    </div>

    <div class="flex gap-8">
      <div class="form-group w-1/2">
        <label for="dataValidade">Vencimento</label>
        <input type="date" formControlName="dataValidade" name="dataValidade" mask="00/00/0000">
      </div>

      <div class="form-group w-1/2">
        <label for="investimentoMinimo">Investimento mínimo</label>
        <input type="text" formControlName="investimentoMinimo" name="investimentoMinimo"
          [currencyMask]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
      </div>
    </div>

    <div class=" flex gap-8">
      <div class="form-group w-1/2">
        <label for="tipoProdutoId">Tipo de Produto</label>
        <select formControlName="tipoProdutoId" name="tipoProdutoId">
          <option value="0">Selecione</option>
          @for (item of _tipoProdutoList; track $index) {
          <option [value]=" item.id ">{{ item.nome }}</option>
          }
        </select>
      </div>

      <div class="form-group w-1/2">
        <label for="indexadorId">Indexador</label>
        <select formControlName="indexadorId" name="indexadorId">
          <option value="0">Selecione</option>
          @for (item of _indexadorList; track $index) {
          <option [value]=" item.id ">{{ item.nome }}</option>
          }
        </select>
      </div>
    </div>

    <div class="flex gap-4 justify-end items-center">
      <h3>{{ message }}</h3>

      <div class="flex gap-4">
        <button type="button" (click)="cancelRendaFixa()">Cancelar</button>

        @if(_rendaFixaItem.id){

        <button type="button">Editar</button>

        <button type="button">Excluir</button>
        } @else {
        <button type="button" (click)="postRendaFixa()">Criar</button>
        }
      </div>
    </div>
  </form>
</section>
