:root {
  --color-base: white;
  --color-border: #F5F5F5;
  --color-primary: #D52B1E;
  --color-text: #242424;
  --color-card: #F5F5F5;
}

.color {
  &-primary {
    color: var(--color-primary);
  }
}
