table {
  border-collapse: collapse;
  width: 100%;
  margin: 0;
  padding: 0;
}

th,
td {
  border-bottom: 0.063rem solid var(--color-border);
  padding: 1rem;
  text-align: left;
}

th {
  background-color: var(--color-card);
}

tr {
  cursor: pointer;

  &:hover {
    background-color: var(--color-card);
  }
}
